@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';


#sec-one {
   float: left;
}

#sec-two {
   float: left;
  margin-left: 30px
}

#sec-three {
   float: left;
  margin-left: 30px
}