<div>
  <span>Identification</span> <span> {{input value=identification size=50}} </span>
</div>

<div>
  <span>Password</span> <span> {{input value=Password size=50}} </span>
</div>

<div>
  <button {{action 'summitLogin'}}> GO! </button>
</div>
