<form {{action "authenticate" on="submit"}}>
  <div>
    <label for="identification"> E-mail</label><br />
    {{input value =identification placeholder="E-mail" type= "text" name="email"}}
  </div>

 <div>
    <label for="password">password</label><br />
    {{input value =password placeholder="" type= "text" name="password"}}
  </div>

<div>
  <button type="submit"> GO! </button>
</div>

</form>



